@font-face {
   font-family: 'Poppins-Regular';
   font-display: swap;
   src: url('file:///C:/Users/MKT13/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-06-23_163416/fonts/Poppins-Regular/font.ttf');
}
